*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
/* Navbar CSS */
.nav-item a{
    color: white;
    font-size: 18px;
}
.navbar-nav{
    gap: 54px;
}

/* Banner CSS */
.bannerHeading{
    font-size: 60px;
    font-weight: 600;
    color: #008EC4;
}
.bannerImg{
    margin-top: -75px;
    height: 850px;
    background-image: url("../image/bannerImage.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
}
.bannerBox{
    background-color: white;
    margin-top: -200px !important;
    padding: 40px;
    border-radius: 32px;
}
.bannerBox h3{
    font-size: 32px;
    color: #1A1A1A;
    font-weight: 400;
    margin-top: 32px;
}

.selectOption{
    border: none;
    font-size: 20px;
    font-weight: 600;
}
.fa-location-dot{
    font-size: 32px;
}
.fa-calendar-days{
    font-size: 32px;
}
.fa-user-group{
    font-size: 32px;
}
.bannerBTN{
    font-size: 20px;
    font-weight: 500;
    padding: 20px 55px;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0px !important;
}

/* Choose Us CSS */
.chooseUs{
    margin-top: 96px;
}
.chooseUs h3{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 72px;
}
.card{
    border: none;
}
.card-title{
    margin-top: 40px;
    font-size: 20px;
    font-weight: 600;
}

/* Our Partners CSS */
#ourPartners h2{
    font-size: 40px;
    font-weight: 700;
    margin-top: 130px;
    margin-bottom: 72px;
}

/* Top Book CSS  */
#topBook h2{
    font-size: 40px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 60px;
}
#topBook h4{
    font-size: 16px;
    font-weight: 700;
}
#topBook h5{
    font-size: 18px;
    font-weight: 700;
}
.topTextBox{
    width: 256px;
    margin-top: 20px;
}
.fa-location-dot{
    font-size: 20px;
}
#topBook h6{
    font-size: 12px;
}
.topBook-btn{
    padding: 18.5px 47px;
    font-weight: 700;
    border-radius: 40px;
}

/* explore section css */
#explore{
    margin-top: 104px;
}
.exploreBg{
    background-image: url('../image/exploreBanner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#explore h2{
    font-size: 104px;
    font-weight: 700;
    color: white;
    padding-top: 161px;
    padding-bottom: 148px;
}
#explore p{
    font-size: 20px;
    color: white;
    padding-bottom: 42px;
}
#explore h4{
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin-top: 24px;
    padding-bottom: 60px;
}