*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
/* Navbar CSS */
.nav-item a{
    color: white;
    font-size: 18px;
}
.navbar-nav{
    gap: 54px;
}

/* Banner CSS */
.bannerHeading{
    font-size: 60px;
    font-weight: 600;
    color: #008EC4;
}
.bannerImg{
    margin-top: -75px;
    height: 850px;
    background-image: url("../image/bannerImage.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
}
.bannerBox{
    background-color: white;
    margin-top: -200px !important;
    padding: 40px;
    border-radius: 32px;
}
.bannerBox h3{
    font-size: 32px;
    color: #1A1A1A;
    font-weight: 400;
    margin-top: 32px;
}

.selectOption{
    border: none;
    font-size: 20px;
    font-weight: 600;
}
.fa-location-dot{
    font-size: 32px;
}
.fa-calendar-days{
    font-size: 32px;
}
.fa-user-group{
    font-size: 32px;
}
.bannerBTN{
    font-size: 20px;
    font-weight: 500;
    padding: 20px 55px;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0px !important;
}

/* Choose Us CSS */
.chooseUs{
    margin-top: 96px;
}
.chooseUs h3{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 72px;
}
.card{
    border: none;
}
.card-title{
    margin-top: 40px;
    font-size: 20px;
    font-weight: 600;
}

/* Our Partners CSS */
#ourPartners h2{
    font-size: 40px;
    font-weight: 700;
    margin-top: 130px;
    margin-bottom: 72px;
}

/* Top Book CSS  */
#topBook h2{
    font-size: 40px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 60px;
}
#topBook h4{
    font-size: 16px;
    font-weight: 700;
}
#topBook h5{
    font-size: 18px;
    font-weight: 700;
}
.topTextBox{
    width: 256px;
    margin-top: 20px;
}
.fa-location-dot{
    font-size: 20px;
}
#topBook h6{
    font-size: 12px;
}
.topBook-btn{
    padding: 18.5px 47px;
    font-weight: 700;
    border-radius: 40px;
}

/* explore section css */
#explore{
    margin-top: 104px;
}
.exploreBg{
    background-image: url('../image/exploreBanner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#explore h2{
    font-size: 104px;
    font-weight: 700;
    color: white;
    padding-top: 161px;
    padding-bottom: 148px;
}
#explore p{
    font-size: 20px;
    color: white;
    padding-bottom: 42px;
}
#explore h4{
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin-top: 24px;
    padding-bottom: 60px;
}

/* Feature Section css */
#feature{
    margin-top: 90px;
}
#feature h3{
    font-size: 40px;
    font-weight: 700;
}
.featureIcon i{
    font-size: 32px;
    border: 1px solid #D8D8D8;
    padding: 8px;
    cursor: pointer;
    border-radius: 10px;
}
.featureCard{
    margin-top: 51px;
}
.card{
    border-radius: 24px;
}
.card-img-top{
    border-radius: 24px 24px 0px 0px;
}
.fa-calendar-days{
    color: #292D32;
    font-size: 22px;
}
.card-body{
    padding: 32px;
}
.card-title{
    margin-top: 16px !important;
    font-size: 24px;
    font-weight: 700;
}
#feature .card-text{
    margin-top: 32px;
    margin-bottom: 20px;
}

/* Testimonials Section CSS */
#Testimonials{
    margin-top: 141px;
}
.testimonialsBg{
    height: 563px;
    background-image: url('../image/TestimonialBg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.testimonials-title{
    padding-top: 98px;
    color: white;
}
.testimonials-title h3{
    font-size: 40px;
    font-weight: 700;
}
.testimonials-card{
    margin-top: 80px;
}
.testimonials-card-title{
    padding-bottom: 24px;
}
.testimonials-card-title h5{
    font-size: 16px;
    font-weight: 700;
}
.testimonials-card-title h6{
    font-size: 12px;
}
.testimonials-card-title i{
    color: #FFC452;
}
.testimonialsCard-Img{
    margin-top: -100px;
}
#special-offers{
    /* padding-top: 112px; */
    padding: 112px 0px;
}
#special-offers img{
    border-radius: 20px 0px 0px 20px;
}
.special-offers-box{
    background-color: #F3F3F3;
    border-radius: 24px;
}
.specialSec-Box-1{
    width: 33%;
}
.specialSec-Box-2{
    width: 67%;
}
.specialSec-Box-2 h3{
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 40px;
}
.special-offers-box button{
    font-weight: 700;
    padding: 18.5px 32px;
    border-radius: 72px;
    background-color: #008395;
    color: white;
    border: none;
}
.specialSec-Box-2 form{
    background-color: white;
    padding: 8px 8px 8px 24px;
    border-radius: 56px;
}
.specialSec-Box-2 form input{
    border: none;
    outline: none !important;
    width: 70%;
}

/* Footer Section CSS */
#footer{
    background-color: black;
    color: white;
    padding-top: 66px;
    padding-bottom: 48px;
}
#footer h4{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 32px;
}
#footer ul li{
    list-style: none;
    margin-top: 24px;
}
#footer ul li a{
    text-decoration: none;
    color: #BFBFBF;
}
ol, ul {
    padding-left: 0px !important;
}
#footer i{
    font-size: 24px;
    cursor: pointer;
}
.footerBottom{
    border-bottom: 1px solid #666666;
    padding-bottom: 102px;
    margin-bottom: 30px;
}

#footer h6{
    font-size: 12px;
    font-weight: 400;
}

.fa-copyright{
    font-size: 12px !important;
}